BODY {
	FONT-SIZE: small; MARGIN: 3px 8px 8px; COLOR: black; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: white
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
TABLE {
	BORDER-COLLAPSE: collapse
}
TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px; TEXT-ALIGN: left
}
TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px; TEXT-ALIGN: left
}
DIV {
	POSITION: relative
}
A:link {
	COLOR: #0000cc
}
A:active {
	COLOR: #cc0000
}
A:visited {
	COLOR: #551a8b
}
H1 {
	MARGIN-TOP: 0px; FONT-SIZE: x-large
}
H2 {
	FONT-SIZE: large
}
H3 {
	FONT-SIZE: medium
}
H4 {
	FONT-SIZE: small
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	MARGIN-BOTTOM: 0.25em
}
PRE {
	FONT-SIZE: 100%; COLOR: #007000; FONT-FAMILY: "bogus font here", monospace
}
PRE.code {
	FONT-SIZE: 100%; COLOR: #007000; FONT-FAMILY: "bogus font here", monospace
}
CODE {
	FONT-SIZE: 100%; COLOR: #007000; FONT-FAMILY: "bogus font here", monospace
}
PRE {
	BORDER-RIGHT: silver 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: silver 1px solid; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; MARGIN: 2em; OVERFLOW: auto; BORDER-LEFT: silver 1px solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: silver 1px solid; BACKGROUND-COLOR: #f5f5f5
}
PRE.code {
	BORDER-RIGHT: silver 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: silver 1px solid; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; MARGIN: 2em; OVERFLOW: auto; BORDER-LEFT: silver 1px solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: silver 1px solid; BACKGROUND-COLOR: #f5f5f5
}
PRE INS {
	FONT-WEIGHT: bold; COLOR: #cc0000; TEXT-DECORATION: none
}
PRE.code INS {
	FONT-WEIGHT: bold; COLOR: #cc0000; TEXT-DECORATION: none
}
A.selected {
	FONT-WEIGHT: bold; COLOR: black; TEXT-DECORATION: none
}
.selected A {
	FONT-WEIGHT: bold; COLOR: black; TEXT-DECORATION: none
}
.selected {
	FONT-WEIGHT: bold; COLOR: black; TEXT-DECORATION: none
}
A.selected:visited {
	COLOR: black
}
.selected A:visited {
	COLOR: black
}
SPAN.new {
	FONT-SIZE: 70%; VERTICAL-ALIGN: super; COLOR: #cc0000
}
#preline {
	TEXT-ALIGN: right
}
#preline .email {
	FONT-WEIGHT: bold
}
#header {
	MARGIN-BOTTOM: 11px; HEIGHT: 50px
}
#logo {
	PADDING-RIGHT: 18px; LEFT: 0px; POSITION: absolute; TOP: -5px
}
#logo IMG {
	WIDTH: 153px; HEIGHT: 55px
}
#title {
	PADDING-LEFT: 3px; MARGIN-LEFT: 174px
}
#breadcrumbs {
	PADDING-LEFT: 3px; MARGIN-LEFT: 174px
}
#title {
	BORDER-TOP: #3366cc 1px solid; MARGIN-TOP: 5px; FONT-WEIGHT: bold; FONT-SIZE: large; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; BACKGROUND-COLOR: #e5ecf9
}
#breadcrumbs {
	MARGIN-TOP: 3px
}
#side {
	FLOAT: left; WIDTH: 154px
}
#menu .item {
	MARGIN-BOTTOM: 1em
}
#menu .group .item {
	MARGIN-BOTTOM: 4px
}
#menu .group {
	MARGIN-BOTTOM: 1em
}
#menu .group .group {
	MARGIN-LEFT: 10px
}
#menu .header {
	FONT-WEIGHT: bold
}
#body {
	PADDING-LEFT: 18px; PADDING-BOTTOM: 25px; MARGIN-LEFT: 156px; BORDER-LEFT: silver 1px dotted; MARGIN-RIGHT: 25px
}
#footer {
	CLEAR: both; BACKGROUND-POSITION: left center; MARGIN-TOP: 3em; BACKGROUND-IMAGE: url(./images/atslog.gif); MARGIN-BOTTOM: 1em; PADDING-TOP: 20px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 53px; TEXT-ALIGN: center
}
#footer .notice {
	MARGIN-BOTTOM: 0.5em
}
#search {
	MARGIN-TOP: 2em
}
#search .header {
	FONT-WEIGHT: bold; FONT-SIZE: 90%; MARGIN-BOTTOM: 1px
}
#search .button {
	MARGIN-TOP: 1px
}
#search .input INPUT {
	WIDTH: 125px
}
DIV.download {
	PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em
}
DIV.download A {
	BORDER-RIGHT: #3366cc 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #3366cc 1px solid; PADDING-LEFT: 0.5em; FONT-WEIGHT: bold; PADDING-BOTTOM: 0.5em; BORDER-LEFT: #3366cc 1px solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: #3366cc 1px solid; POSITION: relative; BACKGROUND-COLOR: #e5ecf9
}
.termsagree {
	PADDING-RIGHT: 0.5em; MARGIN-TOP: 1em; PADDING-LEFT: 0.5em; MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em; BACKGROUND-COLOR: #e5ecf9
}
.termsagree .button {
	PADDING-TOP: 0.5em
}
.termsagree .text {
	FONT-WEIGHT: bold
}
.termsagree .text .printable {
	FONT-WEIGHT: normal
}
.termsagree .text {
	PADDING-LEFT: 5px
}
.termsagree .button {
	PADDING-LEFT: 5px
}
.documentation {
	MARGIN-LEFT: 0.25in
}
.documentation H1 {
	MARGIN-LEFT: -0.25in
}
.documentation H2 {
	MARGIN-TOP: 1.5em; MARGIN-LEFT: -0.25in
}
.documentation H3 {
	MARGIN-LEFT: -0.125in
}
.documentation UL.toc {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 2em; PADDING-TOP: 0px
}
.demo {
	PADDING-RIGHT: 3px; BACKGROUND-POSITION: left center; PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(../images/newwindow.gif); PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BACKGROUND-REPEAT: no-repeat
}

OL.instructions {
		PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 2em; PADDING-TOP: 0px
	}
.instructions .header {
	FONT-WEIGHT: bold
}
.instructions LI {
	MARGIN-BOTTOM: 1em
}
DIV .screenshot {
	MARGIN: 1em;
	TEXT-ALIGN: left;
	vertical-align : top;
}

#footer .text {
	PADDING-TOP: 5px
}
	