.noprint {
	DISPLAY: none
}
#header {
	DISPLAY: none
}
#side {
	DISPLAY: none
}
#preline {
	DISPLAY: none
}
#body {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
